@import './header';
@import './comments';

.hello {
  color: rgb(58, 107, 180);
}

body {
  background-color: bisque;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  border: 1px solid;
  left: 0;
}
